{% extends "app.html" %} {% block content %}

<div class="row justify-content-center my-5">
  <div class="login-card col-md-5 col-lg-4">
    <h2 class="text-center mb-4 text-secondary">Set New Password</h2>

    <form method="POST">
      {% csrf_token %} {{ form.new_password1.label_tag }}
      <input
        type="password"
        name="{{ form.new_password1.name }}"
        class="form-control mb-3"
        placeholder="Enter new password"
        required
      />
      {{ form.new_password2.label_tag }}
      <input
        type="password"
        name="{{ form.new_password2.name }}"
        class="form-control mb-3"
        placeholder="Confirm new password"
        required
      />
      <button type="submit" class="btn btn-dark w-100 fw-bold">
        Reset Password
      </button>
    </form>
  </div>
</div>

{% endblock content %}
