{% extends 'adminnav.html' %} {% block content %}

<div class="container mt-5">
  <div class="card shadow-lg border-0 rounded-3">
    <div class="card-header bg-primary text-white text-center">
      <h3 class="mb-0">All Registered Users</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
          <thead class="table-dark text-center">
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>

              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr class="text-center">
              <td>{{ user.id }}</td>
              <td class="fw-bold text-primary">{{ user.username }}</td>
              <td>{{ user.email }}</td>

              <td>
                {% if user.is_staff %}
                <span class="badge bg-success">Admin</span>
                {% else %}
                <span class="badge bg-secondary">User</span>
                {% endif %}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="7" class="text-center text-muted">
                No users found.
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
